a{
    text-decoration: none;
    display: block;
    padding: 20px;
    color: aqua;
    background-color: black;
    width: 50px;
    height: 20px;
    text-align: center;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: aqua;
}
